build/
dist/

/.gitignore

# Log Files
*.log

/.myrobotlab
/haarcascades
/hogcascades
/ignore_files
/lbpcascades
/libraries
/mary
/msgs
/pids
/ProgramAB
/pythonModules
/repo
/resource
/tts
/OpenAL64.dll
/bulletjme64.dll
/lwjgl64.dll
/ivychain.xml
/myrobotlab.jar
/repo.json
/InMoov/config/**/*.default
/InMoov/config/**/*.config
/InMoov/chatbot/bots/en/aimlif/
/InMoov/chatbot/bots/en/config/default.predicates.txt