;----------------------------- RIGHT HAND CONFIGURATION ----------------------------------------
[MAIN]
isRightHandActivated=1
autoDetach=1

[SERVO_MINIMUM]
thumb=0
index=0
majeure=0
ringFinger=0
pinky=0
wrist=0

[SERVO_MAXIMUM]
thumb=180
index=180
majeure=180
ringFinger=180
pinky=180
wrist=180

[SERVO_INVERTED]
thumb=0
index=0
majeure=0
ringFinger=0
pinky=0
wrist=0

[SERVO_MAP_REST]
thumb=0
index=0
majeure=0
ringFinger=0
pinky=0
wrist=0

[DEF_SPEED]
thumb=100
index=100
majeure=100
ringFinger=100
pinky=100
wrist=100
;----------------------------------- END --------------------------------------------------


