;----------------------------- finger Sensor CONFIGURATION ----------------------------------------
[MAIN]
 
rightHandSensorActivated=False
rightHandSensorArduino=right

right_thumb_Psi_min=544  ; Put here the max value when the sensor is NOT pressed
right_thumb_Psi_low=545  ; In average cases take the min value and add +1 if using a AH3503 Hall Sensor
right_thumb_Psi_mid=547  ; In average cases take the min value and add +4
right_thumb_Psi_max=550  ; In average cases take the min value and add +7

right_index_Psi_min=538
right_index_Psi_low=539
right_index_Psi_mid=542
right_index_Psi_max=545

right_majeure_Psi_min=544
right_majeure_Psi_low=545
right_majeure_Psi_mid=547
right_majeure_Psi_max=550

right_ringFinger_Psi_min=544
right_ringFinger_Psi_low=545
right_ringFinger_Psi_mid=547
right_ringFinger_Psi_max=550

right_pinky_Psi_min=544
right_pinky_Psi_low=545
right_pinky_Psi_mid=547
right_pinky_Psi_max=550

right_extra_Psi_min=544
right_extra_Psi_low=545
right_extra_Psi_mid=547
right_extra_Psi_max=550


;analog pin range are 14-18 on uno, 54-70 on mega
right_thumbPin=54 ;--------A0
right_indexPin=55 ;--------A1
right_majeurePin=56 ;------A2
right_ringFingerPin=57 ;---A3
right_pinkyPin=58 ;--------A4
right_extraPin=62 ;--------A5


leftHandSensorActivated=False
leftHandSensorArduino=left

left_thumb_Psi_min=544
left_thumb_Psi_low=545
left_thumb_Psi_mid=547
left_thumb_Psi_max=550

left_index_Psi_min=544
left_index_Psi_low=545
left_index_Psi_mid=547
left_index_Psi_max=550

left_majeure_Psi_min=544
left_majeure_Psi_low=545
left_majeure_Psi_mid=547
left_majeure_Psi_max=550

left_ringFinger_Psi_min=544
left_ringFinger_Psi_low=545
left_ringFinger_Psi_mid=547
left_ringFinger_Psi_max=550

left_pinky_Psi_min=544
left_pinky_Psi_low=545
left_pinky_Psi_mid=547
left_pinky_Psi_max=550

left_extra_Psi_min=544
left_extra_Psi_low=545
left_extra_Psi_mid=547
left_extra_Psi_max=550

;analog pin range are 14-18 on uno, 54-70 on mega
left_thumbPin=54 ;--------A0
left_indexPin=55 ;--------A1
left_majeurePin=56 ;------A2
left_ringFingerPin=57 ;---A3
left_pinkyPin=58 ;--------A4
left_extraPin=62 ;--------A5
