;----------------------------- finger Sensor CONFIGURATION ----------------------------------------
[MAIN]
 
rightHandSensorActivated=False 
rightHandSensorArduino=right

right_thumbPin=54 ;--------A0
right_indexPin=56 ;--------A1
right_majeurePin=57 ;------A2
right_ringFingerPin=58 ;---A3
right_pinkyPin=59 ;--------A4
right_extraPin=62 ;--------A5


leftHandSensorActivated=False
leftHandSensorArduino=left

left_thumbPin=54 ;--------A0
left_indexPin=56 ;--------A1
left_majeurePin=57 ;------A2
left_ringFingerPin=58 ;---A3
left_pinkyPin=59 ;--------A4
left_extraPin=62 ;--------A5